data
results
src/__pycache__
experiments/__pycache__
src/MPI/__pycache__
*.out
*.err
.vscode
*log.txt
*.DS_Store
experiments
exageostat
install_exageostat_starpu_shaheen-III.sh
codes
src/MPI/separate_ini/__pycache__
pkg_config.sh
gfortran
estimation_multiprocesses.py
